<!doctype html>
<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery-1.12.0.js" charset="utf-8"></script>
    <script src="/js/index_web.js"></script>
  </head>
  <body>
    <button id="shape">Sort by shape</button>
    <button id="color">Sort by color</button>
  </body>
</html>
