<!doctype html>
<html>
  <head>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/js/jquery-1.12.0.js" charset="utf-8"></script>
    <script src="/js/index.js"></script>
  </head>
  <body>
    <div id="original">
      <div id="shape_info">Shape Info</div>
       <% for(var i=0; i<shapes.length; i++) {%>
          <img  mongo_id="<%=shapes[i]._id%>" color="<%=shapes[i].color%>" name="<%=shapes[i].name%>" src=<%=shapes[i].link%> />
      <% } %>
    </div>
  </body>
</html>
