<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/js/jquery-1.12.0.js" charset="utf-8"></script>
    <script src="/js/mobile.js"></script>
  </head>
  <body>
    <div class="card text-center">
      <div class="card-block">
        <h1 class="card-title">Mobile app</h1>
        <button id="color" class="btn btn-primary">Sort by color</button>
        <button id="shape" class="btn btn-primary">Sort by shape</button>
    </div>
  </body>
</html>
